<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <p class="hero__subtitle">{{ site.data.settings.author.bio }}</p>
          <div class="hero__social">
            <!-- <span class="hero__social-title">Стежити (Тут можу дати ссилку на тебе або на олх) |</span>
            {% include contact-link.html %} -->
						<p class="hero__subtitle">
						Категорії товарів:   {{ site | tag_cloud }}
						</p>
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img style="box-shadow:none;" src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" loading="lazy" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<style>
	.set-1 {

		border-bottom: 1px solid;
		
	}
	.set-5{
		border-bottom: 1px solid;
	}
</style>