<div class="spoiler">
	<details>
	<summary>Як замовити?</summary>
	<p>Для замовлення зв'яжіться з продацем: <br>
		<a href="https://t.me/sofigrabova">✅ Telegram</a>
		<br>
		<a href="tel:+380938665746">✅ Моб.Телефон/Viber</a>
	</p>
	</details>
	<details>
	
	<br>
	
	<summary>Оплата та доставка</summary>
	<p>Можлива оплата на картку: <br>
		5168752083039803 - PrivatBank<br>
		5375414121412380 - MonoBank
	<ul>
	<li>Призначення платежу: оплата товару</li>
	<li>Після оплати обов‘язково відправте фото чеку чи скрін про оплату</li>
	</ul>
	
	<ul>
	<li>Напишіть реквізити відправки:</li>
	Прізвище, ім’я, номер тел, місто, область, номер відділення НП
	
	<li>Послуги доставки Нової Пошти оплачує замовник</li>
	
	<li>Також можлива відправка накладним платежем за умови передоплати 200 грн на карту, які вираховуються із суми накладного платежу</li>
	</ul>
	❗️У разі відмови від замовлення передоплата не повертається та покриває вартість доставки в обидві сторони
	</p>
	</details>
	<style>
		details {
			border: 1px solid #aaa;
			border-radius: 10px;
			padding: 0.5em 0.5em 0;
			margin-bottom: 0.5em;
	}
	
	summary {
			font-weight: bold;
			margin: -0.5em -0.5em 0;
			padding: 0.5em;
	}
	
	details[open] {
			padding: 0.5em;
	}
	
	details[open] summary {
			border-bottom: 1px solid #aaa;
			margin-bottom: 0.5em;
	}
		</style>
	
	</div>
	
	